@import "tailwindcss";

button {
  transition: all 0.3s ease;
}

tr {
  transition: all 0.3s ease;
}

.popup-overlay {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popup-overlay.show {
  opacity: 1;
  visibility: visible;
}

.popup-content {
  transform: translateY(-20px);
  transition: transform 0.3s ease;
}

.popup-overlay.show .popup-content {
  transform: translateY(0);
}

.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-8px);
  transition: opacity 0.15s ease-out, visibility 0.15s ease-out,
    transform 0.15s ease-out;
}

.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f7f7f7;
  min-height: 100vh;
  min-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
