@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background-color: #f7f7f7;
  min-height: 100vh;
  min-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
